@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LDS Movies</h1><br />
    <a asp-area="" asp-controller="Movies" asp-action="Index" class="button">View LDS Movie List</a> <br /> <br />
    <a asp-area="" asp-controller="Movies" asp-action="Create" class="button">Create LDS Movie</a>
</div>
